{% extends 'base_layout.html' %}
{% block title %}
<title> Login page </title>
{% endblock %}
{% block content %}
<div class="container background-third">
    <h2 class="text-center"> Login form </h2>
    <form class="text-center" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value = "{{ request.GET.next }}">
        {% endif %}
        <input value="Login" type="submit" />
    </form>
</div>
{% endblock %}