{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Choose model to edit </title>
{% endblock %}
{% block content %}
<h1> Choose model to edit </h1>
<div class="container">
    <div class="row"><h2> Users </h2></div>
    <div class="row top-buffer"><a href="" class="btn background-second">Admin</a></div>
    <div class="row top-buffer"><a href="" class="btn background-second">Student</a></div>
    <div class="row top-buffer"><a href="" class="btn background-second">Teacher</a></div>
    <div class="row"><h2> Models </h2></div>
    <div class="row"><a href="" class="btn background-second">Building</a></div>
    <div class="row"><a href="" class="btn background-second">Faculty</a></div>
    <div class="row"><a href="" class="btn background-second">Field Of Study</a></div>
    <div class="row"><a href="" class="btn background-second">Plan</a></div>
    <div class="row"><a href="" class="btn background-second">Room</a></div>
    <div class="row"><a href="" class="btn background-second">Scheduled Subject</a></div>
    <div class="row"><a href="" class="btn background-second">Subject</a></div>
</div>
{% endblock %}