{% extends 'base_layout.html' %}
{% load helpful_tags %}
{% load static from staticfiles %}
{% block title %}
<title> example </title>
<link href="{% static 'fullcalendar-3.9.0//fullcalendar.min.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-3.9.0/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var values = {{values|safe}};
    google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);
    array_of_objects = [];
    for(var value of values){
        array_of_objects.push(JSON.parse(value));
    }

    function drawChart() {
        var container = document.getElementById('timetable_values');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Position' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        for(var object of array_of_objects){
            dataTable.addRows([
              [ object.day, object.name, new Date(0, 0, 0, object.whenStart, 15), new Date(0, 0, 0, object.whenStart + object.how_long, 0) ],
            ]);
        }
        var options = {
          colors: ['#ff4d4d', '#ffb3b3'],
          timeline: { rowLabelStyle: {fontName: 'Helvetica', fontSize: 24, color: '#603913' },
                         barLabelStyle: { fontName: 'Garamond', fontSize: 14 } }
        };
        chart.draw(dataTable, options);
    }
    $(document).ready(function() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        }
        if(mm<10) {
            mm = '0'+mm
        }
        today = yyyy + '-' + mm + '-' + dd;

        event_list = []

        function getMonday(d) {
          d = new Date(d);
          var day = d.getDay(),
              diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
          return new Date(d.setDate(diff));
        }
        days = {
            "monday": 0,
            "tuseday": 1,
            "wenesday": 2,
            "thursday": 3,
            "friday": 4,
            "saturday": 5,
            "sunday": 6,
        }
        for(var object of array_of_objects){
            var date = getMonday(new Date());
            date.setDate(date.getDate() + days[object.day]);
            dd = date.getDate();
            console.log(object);
            mm = date.getMonth()+1;
            yyyy = date.getFullYear();
            hh = object.whenStart;
            hh_finish = object.whenStart + object.how_long

            if(dd<10) {
                dd = '0'+dd
            }
            if(mm<10) {
                mm = '0'+mm
            }
            date_str1 = yyyy + '-' + mm + '-' + dd + 'T' + hh +':00:00';
            date_str2 = yyyy + '-' + mm + '-' + dd + 'T' + hh_finish +':00:00';

            event_list.push(
                {
                    id: object.id,
                    title: object.name,
                    start: date_str1,
                    end: date_str2
                }
            );
        }
        for(var o of event_list){
            console.log(o);
        }

        $('#calendar').fullCalendar({
            allDaySlot: false,
            defaultView: 'agendaWeek',
            height:727,
            header: {
                left: 'today',
                center: '',
                right: 'agendaWeek',
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                start: '8:00', // a start time (10am in this example)
                end: '21:00', // an end time (6pm in this example)
            },
            minTime: "8:00",
            maxTime: "21:00",
            defaultDate: today,
            navLinks: false, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: event_list,
            columnHeaderFormat: 'dddd'
        });
    });
</script>
{% endblock %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="post" action="{% url 'entities:timetables_student' %}">
        {% csrf_token %}
        <select class="btn background-second" name="plan_id">
            <option value="None"> -- choose plan -- </option>
            {% for p in plans %}
            <option value="{{ p.id }}">{{ p.title }} id:{{ p.id }}</option>
            {% endfor %}
        </select>
        <button class="btn background-second" type="submit"> Search </button>
    </form>
    <!-- <div id="timetable" style="height: 400px"></div> -->
    <div class="container" id="timetable_values" style="height: 400px"></div>
    <h1> Plan {{ plan_title }} </h1>
    <div id='calendar'></div>
    <div>
        <button class="btn background-second"> EDIT </button>
    </div>
{% endblock %}