{% extends 'base_layout.html' %}
{% load helpful_tags %}
{% load static from staticfiles %}
{% block title %}
<title> example </title>
<link href="{% static 'fullcalendar-3.9.0//fullcalendar.min.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-3.9.0/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}
<div>
    <p> Choosse plans which you want to see</p>
    <a href="{% url 'entities:timetables_student' %}"> Student's groups </a>
    <!--<a href="{% url 'entities:timetables_teacher' %}"> Teachers </a>
    <a href="{% url 'entities:timetables_room' %}"> Rooms </a> -->
</div>
{% endblock %}