{% extends 'base_layout.html' %}
{% load helpful_tags %}
{% load static from staticfiles %}
{% block title %}
<title> example </title>
<link href="{% static 'fullcalendar-3.9.0//fullcalendar.min.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-3.9.0/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar-3.9.0/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var values = {{values|safe}};
    google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var container = document.getElementById('timetable_values');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Position' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        array_of_objects = [];
        for(var value of values){
            array_of_objects.push(JSON.parse(value));
        }
        for(var object of array_of_objects){
            dataTable.addRows([
              [ object.day, object.name, new Date(0, 0, 0, object.when_started, 15), new Date(0, 0, 0, object.when_started + object.how_long, 0) ],
            ]);
        }
        var options = {
          colors: ['#ff4d4d', '#ffb3b3'],
          timeline: { rowLabelStyle: {fontName: 'Helvetica', fontSize: 24, color: '#603913' },
                         barLabelStyle: { fontName: 'Garamond', fontSize: 14 } }
        };
        chart.draw(dataTable, options);
    }
    $(document).ready(function() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        }
        if(mm<10) {
            mm = '0'+mm
        }
        today = yyyy + '-' + mm + '-' + dd;


        event_list = []
        for(var i = 0; i < 15; i++){
            var date = new Date();
            date.setDate(date.getDate() + 7*i)
            dd = date.getDate();
            mm = date.getMonth()+1;
            yyyy = date.getFullYear();

            if(dd<10) {
                dd = '0'+dd
            }
            if(mm<10) {
                mm = '0'+mm
            }
            date_str1 = yyyy + '-' + mm + '-' + dd + 'T16:00:00';
            date_str2 = yyyy + '-' + mm + '-' + dd + 'T18:00:00';
            event_list.push(
                {   id: 999,
                title: 'Repeating Event',
                start: date_str1,
                end: date_str2 }
            );
        }

        $('#calendar').fullCalendar({
            allDaySlot: false,
            defaultView: 'agendaWeek',
            height: 740,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                start: '8:00', // a start time (10am in this example)
                 end: '21:00', // an end time (6pm in this example)
            },
            minTime: "8:00",
            maxTime: "21:00",
            defaultDate: today,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: event_list
        });
    });
</script>
{% endblock %}
{% block content %}
    <p> Jak ma to dzialac? </p>
    <p> Do tabeli dajemy jsona i wypisujemy wg tych danych. </p>
    <p> JSONa dajemy pod warunkiem buttonow, przy wybraniu jednej z 3 opcji w pierwszym wysylamy liste np  dodajemy
        grupy studenckie na liscie do nastepnego buttona </p>
    <div class = "dropdowns-block">
        {% dropdown_button "Who?" "Student's groups" "Teachers" "Rooms" %}
        {% dropdown_button "--there will be something--" %}
    </div>
    <!-- <div id="timetable" style="height: 400px"></div> -->
    <div class="container" id="timetable_values" style="height: 400px"></div>
    <div id='calendar'></div>
    <div>
        <button class="btn background-second"> EDIT </button>
        <p> jak button jest press to beda inputy, wypelnia sie one danymi kliknietego przedmiotu (nie wszystkimi),
            godzinki beda edytowalne tylko</p>
        <p> ten button bedzie nie aktywny jak nie wybierze planu (taki jest plan) </p>
    </div>
{% endblock %}