{% extends 'base_layout.html' %}
{% load helpful_tags %}
{% block title %}
<title> example </title>
{% endblock %}
{% block content %}
    <div class = "dropdowns-block">
        {% dropdown_button "Who?" "Students" "Teachers" "Rooms" %}
        {% dropdown_button "--there will be something--" %}
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn background-second my-2 my-sm-0" type="submit">Search</button> -->
    </div>
    <div class="table-responsive">
        <table class="table-bordered tab-my">
            <thead>
                <tr>
                    <th> Day </th>
                    {% for value in values %}
                        <th> {{ value }}:00 </th>
                    {% endfor %}
                </tr>
            </thead>
            {% for day in days %}
            <tr>
                <td> {{ day }} </td>
                {% for value in values %}
                    <td> (empty) </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <button class="btn background-second"> EDIT </button>
        <p> jak button jest press to beda inputy, wypelnia sie one danymi kliknietego przedmiotu (nie wszystkimi),
            godzinki beda edytowalne tylko</p>
        <p> ten button bedzie nie aktywny jak nie wybierze planu (taki jest plan) </p>
    </div>
{% endblock %}