.background-first{
    background-color: #cf6766;
}
.background-second{
    color: white;
    background-color: #30415d;
}
.background-second:hover{
    background-color: #8eaebd;
}
.background-second:active{
    color: black;
    background-color: #8eaebd;
}
.background-third{
    background-color: #031424;
}
.background-fourth{
    background-color: #8eaebd;
}
.tab-my{
    table-layout: fixed;
    width: 100%;
}
body {
    font-family: Arial;
    color: white;
    background-color: #8eaebd;
}