.background-first{
    background-color: #b30000
}
.background-second{
    background-color: #ff4d4d
}
.background-third{
    background-color: #ffb3b3
}
.background-fourth{
    background-color: #f2f2f2
}