{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <!--<script src="{% static 'jquery-3.3.1.min.js' %}"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'myownstyles.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark background-first mb-4">
            <a href="/" class="navbar-brand"> UniversityMainPage </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about"> About us </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entities:timetables' %}"> Plans </a>
                    </li>
                </ul>
                <div class="form-inline mt-2 mt-md-0">
                    <!--
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'accounts:myprofile' %}" method="POST">
                        {% csrf_token %}
                        <button class="nav-item btn background-second" type="submit">
                            My account: {{ user.username }}
                        </button>
                    </form>
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-item btn background-second" type="submit">
                            Logout
                        </button>
                    </form>
                    {% else %}
                    <form action="{% url 'accounts:login' %}" method="GET">
                        {% csrf_token %}
                        <button class="nav-item btn background-second" type="submit">
                            Login
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container background-third">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>