{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Edit admin </title>
{% endblock %}
{% block content %}
<h1> Admin </h1>
<form action="{% url 'entities:model_user' %}" method="post">
    {% csrf_token %}
    <div class="table-responsive">
            <table>
                <tr>
                    <td> Password </td>
                    <td><input class="form-control" type="password" name="new_password" value=""></td>
                </tr>
                <tr>
                    <td> Confirm password </td>
                    <td><input class="form-control" type="password" name="confirm_new_password" value=""></td>
                </tr>
                <input type="text" name="user_id" value="{{ user_to_edit.id }}" hidden/>
            </table>
        </div>
    <button type="submit" name="action" value="Do_change_password"> Update </button>
</form>
{% endblock %}