{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Edit admin </title>
{% endblock %}
{% block content %}
<h1> Admin </h1>
{% with url_address="entities:"|add:model %}
<form action="{% url url_address %}" method="post">
    {% csrf_token %}
    <div class="table-responsive">
            <table>
                <tr>
                    <td> Password </td>
                    <td><input class="form-control" type="password" name="new_password" value=""></td>
                </tr>
                <tr>
                    <td> Confirm password </td>
                    <td><input class="form-control" type="password" name="confirm_new_password" value=""></td>
                </tr>
                {% if user_to_edit %}
                <input type="text" name="user_id" value="{{ user_to_edit.id }}" hidden/>
                {% endif %}
                {% if student %}
                <input type="text" name="user_id" value="{{ student.user.id }}" hidden/>
                {% endif %}
                {% if teacher %}
                <input type="text" name="user_id" value="{{ teacher.user.id }}" hidden/>
                {% endif %}
            </table>
        </div>
    <button class="btn background-second" type="submit" name="action" value="Do_change_password"> Update </button>
</form>
{% endwith %}
{% endblock %}